In [20]:
# Import dependencies
import pandas as pd
import numpy as np

In [18]:
# Create necessary lists to bring in data for dataframe creation.
monthly_datasets = ['Data/JC-202301-citibike-tripdata.csv', 'Data/JC-202302-citibike-tripdata.csv', 'Data/JC-202303-citibike-tripdata.csv', 'Data/JC-202304-citibike-tripdata.csv',
                    'Data/JC-202305-citibike-tripdata.csv']

citi2023 = []

In [8]:
#Loop through data and create dataframe
for month in monthly_datasets:
    month23 = pd.read_csv(month)
    citi2023.append(month23)

In [15]:
# Concatenate the lists together to make the dataframe.
citibike2023 = pd.concat(citi2023)
citibike2023.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347050 entries, 0 to 96001
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             347050 non-null  object
 1   rideable_type       347050 non-null  object
 2   started_at          347050 non-null  object
 3   ended_at            347050 non-null  object
 4   start_station_name  347047 non-null  object
 5   start_station_id    347047 non-null  object
 6   end_station_name    346019 non-null  object
 7   end_station_id      346019 non-null  object
 8   start_lat           347050 non-null  float64
 9   start_lng           347050 non-null  float64
 10  end_lat             346688 non-null  float64
 11  end_lng             346688 non-null  float64
 12  member_casual       347050 non-null  object
dtypes: float64(4), object(9)
memory usage: 37.1+ MB

In [26]:
# Approximate radius of earth in km
R = 6373.0

lat1 = np.radians(citibike2023["start_lat"])
lat2 = np.radians(citibike2023["end_lat"])
lng1 = np.radians(citibike2023["start_lng"])
lng2 = np.radians(citibike2023["end_lng"])
dlng = lng2 - lng1
dlat = lat2 - lat1

a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlng / 2)**2
c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

citibike2023["distance"] = R*c

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,distance
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member,1.497317
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member,0.974037
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member,1.156913
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member,1.496743
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member,0.671198

In [27]:
citibike2023.to_csv('Data/citibike2023.csv')